.contenido{ 
    background-color: #FBA1B7;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 539px;
}

.parrafo{
    font-family: 'Dancing Script', cursive;
    &:hover{
        opacity: 100%;
        color:  #FFDBAA;
    }
}